; vim: set fileencoding=utf-8 :
; Sun Aug 21 21:38:14 CEST 2016

[buildout]
parts = scripts
develop = .
eggs = bob.bio.gmm
extensions = bob.buildout
newest = false
verbose = true

[scripts]
recipe = bob.buildout:scripts
dependent-scripts = true
